Package: regolith-debootstick-setup
Version: 1.0.0
Architecture: amd64
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Installed-Size: 17
Depends: systemd, whiptail, locales, passwd, kbd
Section: x11
Priority: optional
Homepage: https://github.com/regolith-linux/regolith-desktop
Description: System setup support for debootstick-based OS images
 A compositor init that uses xcompmgr.
